In [2]:
web = {
    'header':'header.html',
    'footer':'footer.html',
    'content': ''
}

In [3]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename,"r") as file_handle:
        file_contents = file_handle.read()
        
        return file_contents
    
    
    
def create_index(filename:str, filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [4]:
header_content = readfile(web['header'])
print(header_content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

In [5]:
footer_content = readfile(web['footer'])
print(footer_content)

</body>
</html>

In [6]:
import pandas as pd
import random as r

In [7]:
data = {
    'x':list(range(1,11)),
    'y':[r.randint(1,100) for i in range(1,11)]
}

In [9]:
df = pd.DataFrame(data)

In [10]:
df

    x   y
0   1  27
1   2  98
2   3  90
3   4  80
4   5  40
5   6  75
6   7  75
7   8  94
8   9  50
9  10  73

In [11]:
data

{'x': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'y': [27, 98, 90, 80, 40, 75, 75, 94, 50, 73]}

In [12]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>27</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>98</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>90</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>80</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>75</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>75</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>94</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>73</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
web['content'] = df.to_html()

In [12]:
index_content = header_content + web['content'] + footer_content
# now you have full html and need to output

In [13]:
create_index('index.html', index_content)
# this will write your df you just created
# into the index.html locally you have saved
# and using the create_index function 
# the function you created by yourself earlier